            .jumbotron {
                background: url("13.jpg") center;
            }
            /* body {
                background: url('photo-1500964757637-c85e8a162699.jpeg') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
            } */
            
            @media screen and (max-width: 400px) {
                body {
                    /* background-color: lightgreen;
                     
                    */
                    background: url('photo-1500964757637-c85e8a162699.jpeg') no-repeat center center fixed;
                }
            }
            
            @media screen and (min-width: 800px) {
                body {
                    /* background-color: lavender;
                     */
                    background: url('photo-1500964757637-c85e8a162699.jpeg') no-repeat center center fixed;
                }
            }